@import url("/CSS-files-e-com/home.css");
.address-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 25rem;
    margin: 0rem auto 1rem;
    align-items: center;
}
.flex-wrap-shop-2{
    display: flex;
    flex-direction: column;
}
.btn-plus{
    border: none;
    font-size: xx-large;
    padding: .2rem;
    margin: 0rem 1rem;
    cursor: pointer;
}
.flex-wrap-row{
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}
.btn-trash{
    border: none;
    font-size: large;
    padding: .2rem;
    margin: 0rem 1rem;
    cursor: pointer;
}
.cart-content-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;

}