.land-social-link-nav {
    align-items: center;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-right: 3rem;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--danger-message-color);
    padding-right: 40px;
}

.input-search::placeholder {
    color: var(--text-color);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--text-color);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--text-color);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    color: var(--text-color);
    font-weight: bold;
}

.bg-img-stretch {
    background-image: url("/Assets/top-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 350px;
    margin-top: 5.5rem;
}

.grid-layout-4-col {
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 5rem auto;
    width: 100%;
    max-width: 80rem;
    grid-gap: 2rem;
}

.basic-image-e-land {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.background-img-e-com {
    opacity: 0.3;

}

.background-img-e-com:hover {
    opacity: 1;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.card-contain-e-land {
    width: 300px;
    height: 250px;
    /* background-color: var(--body-bg-color); */
}

.change-pos-e-land {
    left: 0;
    position: absolute;
    text-align: center;
    top: 90px;
    right: 0;
    width: 100%
}

.main-body-e-land .card-title-e-land {
    color: var(--underline-color);
    font-weight: 900;
    font-size: 2rem;
}

.hover-underline:hover {
    color: var(--primary-color);
}