.red{
    color: var(--danger-message-color);
}
.grid-layout-3-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: .2rem 2rem;
    width: 100%;
    max-width: 80rem;
    grid-gap: 2rem;
}
.basic-image {

    width: 100%;
    object-fit: contain;
}